/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* #div{
  display: flex;
  justify-content: space-between;
}

p{
  font-size: 50px;
} */


/* // Counter mini project */

/* .container{
  width: 100vw;
  height: 100vh;
  flex: col;
  justify-content: center;
  align-items: center;
  gap: 10;
} */


/* //Counter mini project */

/* .container{
  width: 100vw;
  height: 100vh;
  background-color: #344151;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10;
}

.dcontainer{
  color: #0398d4;
  font-size: 30px;
}

.bcontainer{
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 12;
  font-size: 25px;
  color:#344151 ;
  padding: 10px;
} */


/* //Calculator */

.app{
  background-color: black;
}

